{
  "presets": ["@babel/preset-env", "@babel/preset-react"],

  // to enable experimental class syntax properties
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}


