*{
   padding: 0;
   margin: 0; 
}
.container{
    /* border: 1px solid green; */
    /* height: 1000px; */
    /* display: inline-block; */
}
.content{
    /* width: 975px;
    margin: 0 auto; */
    position: relative;
}
/* .btn-container{
    height: 70px;
    padding: 30px 0 0 0;
    margin: auto;
} */

.content-grid{
    width: 936px;
    margin: 0 auto;
}
.loadBtn{
    width: 147px;
    height: 38px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    color: #e4f9f8;
    background-color: #00bfb8;
    font-weight: bold;
    cursor: pointer;
    border-color:  #00bfb8;
}
.loadBtn:focus{
    outline: none;
}